/* Configuração Geral */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container>h2 {
    width: 100%;
    margin: 20px 0;
}

/* Header */


#header_page {
    width: 100vw;
    background-color: #dad9d9;

}

#header_page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

#header_page nav ul {
    display: flex;
    list-style: none;

}

#header_page h1 {
    color: rgb(182, 34, 34);
}

#header_page nav ul li a {
    margin-left: 15px;
    font-weight: bold;
}

#link_sports {
    color: #31c231;
}

#link_economy {
    color: #c4c429;
}

#link_technology {
    color: rgb(40, 40, 228);
}

#link_entertainment {
    color: rgb(230, 69, 203);
}

/* Sections */
#sports {
    background-color: #31c23157;
}

#economy {
    background-color: #c4c42981;
}

article {
    width: 30%;
    margin-bottom: 20px;
}

article img {
    width: 100%;
}